In [8]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [9]:
# import the dataset
from google.colab import files
upload= files.upload()

Saving INTC (2).csv to INTC (2).csv

In [10]:
# read the dataset
dataset = pd.read_csv('INTC (2).csv')
dataset.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,49.889999,51.389999,49.400002,49.669998,47.671772,46102500
1,2021-01-05,49.450001,50.830002,49.330002,50.610001,48.573956,24866600
2,2021-01-06,50.439999,52.150002,50.200001,51.099998,49.044243,36809600
3,2021-01-07,51.490002,52.689999,51.299999,52.189999,50.090397,32092300
4,2021-01-08,52.450001,52.529999,51.270000,51.650002,49.572117,34625400
5,2021-01-11,51.290001,52.240002,51.250000,51.540001,49.466545,32925000
6,2021-01-12,51.900002,53.849998,51.560001,53.240002,51.098152,39883900
7,2021-01-13,59.500000,60.250000,56.900002,56.950001,54.658894,124070700
8,2021-01-14,58.450001,60.139999,57.840000,59.250000,56.866371,74680900
9,2021-01-15,58.849998,59.650002,57.500000,57.580002,55.263557,50265400

In [11]:
# c. clean the dataset
dataset.isnull().sum()/ len(dataset)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [ ]:
# d. Fill the missing values of the dataset using the average of column “Low “ from the low 
average = dataset["Low"].sum() / len(dataset["Low"])
dataset.fillna(average)

In [16]:
# e Find the missing percent of each column
a = dataset.isnull().sum()/len(dataset)
result = a/100
print(result)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [17]:
# g Build a multiple linear regression model to predict the closing price using the volume,
# low and high price of the dataset?
x_variable = ['High','Low','Volume' ] 
y_variable = ['Close'] 
x= dataset[x_variable].values.reshape(-1,3)
y = dataset[y_variable].values.reshape(-1,1)
x_train, x_test, y_train, y_test =  train_test_split(x, y, test_size = 0.2)
Linear_regression = LinearRegression()
model = Linear_regression.fit(x_train, y_train)

In [20]:
# h Predict the exact closing price of anyone of the given input. Decide the input values by
# yourself as relevant to the dataset. You should analyze the dataset before choosing the
# input.

x_predict = np.array([52.12,51.63,19290000])  # 51.76
x_predict = x_predict.reshape(-1,3)
y_predict = model.predict(x_predict)
print(y_predict)

[[51.91726988]]

In [19]:
# i use evaluation model
y_pred = model.predict(x_test)
print( mean_squared_error(y_test,y_pred))

0.13785896822174273

In [ ]:
# j reflection